### 数据筛选

#### 赋值操作

创建了20行3列的数据

In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(0,50,size = (20,3)),columns=['Python','Math','En'])
df

    Python  Math  En
0       30    21   2
1       44    21   5
2       29    46  34
3       14    44  14
4       44    39  36
5       46    38  38
6       46    38  20
7       47    12  43
8       47    46  19
9       36    21  41
10      14    43   0
11      37    15  21
12      46    47  42
13       0     0  39
14      25    22  48
15       4     0   5
16      36    32  25
17      45    25  12
18      22     5  16
19      44    34  21

增加一列

In [2]:
df['物理'] = np.random.randint(0,50,size = 20 )
df

    Python  Math  En  物理
0       30    21   2  15
1       44    21   5  23
2       29    46  34  29
3       14    44  14  14
4       44    39  36  33
5       46    38  38  14
6       46    38  20  39
7       47    12  43  21
8       47    46  19   0
9       36    21  41  35
10      14    43   0  36
11      37    15  21  31
12      46    47  42  11
13       0     0  39  20
14      25    22  48   1
15       4     0   5  47
16      36    32  25  23
17      45    25  12  18
18      22     5  16  42
19      44    34  21  18

将Python增加10分

In [3]:
df['Python'] += 10
df

    Python  Math  En  物理
0       40    21   2  15
1       54    21   5  23
2       39    46  34  29
3       24    44  14  14
4       54    39  36  33
5       56    38  38  14
6       56    38  20  39
7       57    12  43  21
8       57    46  19   0
9       46    21  41  35
10      24    43   0  36
11      47    15  21  31
12      56    47  42  11
13      10     0  39  20
14      35    22  48   1
15      14     0   5  47
16      46    32  25  23
17      55    25  12  18
18      32     5  16  42
19      54    34  21  18

将Math，索引是2的这个人变成100分

In [7]:
# df['Math'][2] = 100 # 修改成功
df['Math'][[2,3]] = 100 # 修改成功
df[['Math','En']][[2,3]] = 100 # 修改成功
df

    Python  Math  En  物理
0       40    21   2  15
1       54    21   5  23
2       39   100  34  29
3       24   100  14  14
4       54    39  36  33
5       56    38  38  14
6       56    38  20  39
7       57    12  43  21
8       57    46  19   0
9       46    21  41  35
10      24    43   0  36
11      47    15  21  31
12      56    47  42  11
13      10     0  39  20
14      35    22  48   1
15      14     0   5  47
16      46    32  25  23
17      55    25  12  18
18      32     5  16  42
19      54    34  21  18

批量修改多个数据

In [8]:
df.loc[[2,3],['Python','En']] = 1024
df

    Python  Math    En  物理
0       40    21     2  15
1       54    21     5  23
2     1024   100  1024  29
3     1024   100  1024  14
4       54    39    36  33
5       56    38    38  14
6       56    38    20  39
7       57    12    43  21
8       57    46    19   0
9       46    21    41  35
10      24    43     0  36
11      47    15    21  31
12      56    47    42  11
13      10     0    39  20
14      35    22    48   1
15      14     0     5  47
16      46    32    25  23
17      55    25    12  18
18      32     5    16  42
19      54    34    21  18

条件时，不允许

In [12]:
cond = df['物理'] < 10

# 特别说明，表示从原来数据中，复制！！！
# 根据条件从原数据取出来的数据，分家了！！！
# 两者没有关系，一顿操作，修改，原数据不变
df[cond] * 100

    Python  Math    En   物理
8     5700  4600  1900    0
14    3500  2200  4800  100

In [13]:
# 原数据
df[cond]

    Python  Math  En  物理
8       57    46  19   0
14      35    22  48   1

如果是条件：loc方式修改数据

In [14]:
df.loc[cond] -= 100

In [15]:
# 原数据发生了变化！！！
df[cond]

    Python  Math  En   物理
8      -43   -54 -81 -100
14     -65   -78 -52  -99

### 数据集成

#### 方式一concat

In [16]:
import pandas as pd
import numpy as np
# df1 一班考试成绩
df1 = pd.DataFrame(data = np.random.randint(0,150,size = [10,3]),# 计算机科目的考试成绩
                  index = list('ABCDEFGHIJ'),# 行标签，用户
                  columns=['Python','Tensorflow','Keras']) # 考试科目

# df2 二班考试科目
df2 = pd.DataFrame(data = np.random.randint(0,150,size = [10,3]),# 计算机科目的考试成绩
                  index = list('KLMNOPQRST'),# 行标签，用户
                  columns=['Python','Tensorflow','Keras']) # 考试科目

# df3 增加了两个考试科目（一班）
df3 = pd.DataFrame(data = np.random.randint(0,150,size = (10,2)),
                  index = list('ABCDEFGHIJ'),
                  columns=['PyTorch','Paddle'])

display(df1,df2,df3)

   Python  Tensorflow  Keras
A     107          50     46
B      95         128     87
C      11          21    146
D     126         117     21
E     113         138     63
F     132          36     81
G      60         143     92
H      36          83    110
I      37         139    136
J       3         144     89

   Python  Tensorflow  Keras
K      14          74    111
L      15          74    127
M     112          53     43
N      13          82    147
O       6          15     71
P      14           0     49
Q      96          11    102
R     107         137     44
S     129          42      2
T     137          37     13

   PyTorch  Paddle
A       24      45
B       41      64
C       40      98
D      138       0
E       17       6
F       40     102
G      114     134
H      138      82
I      102      10
J      133      56

一班和二班成绩合并

In [17]:
# np.concatenate() 
# axis = 0表示 进行行合并
pd.concat([df1,df2],axis = 0)

   Python  Tensorflow  Keras
A     107          50     46
B      95         128     87
C      11          21    146
D     126         117     21
E     113         138     63
F     132          36     81
G      60         143     92
H      36          83    110
I      37         139    136
J       3         144     89
K      14          74    111
L      15          74    127
M     112          53     43
N      13          82    147
O       6          15     71
P      14           0     49
Q      96          11    102
R     107         137     44
S     129          42      2
T     137          37     13

一班科目增加，将原来的科目和增加的科目进行合并

In [19]:
# 合并时，列增加 NaN  == not a number 空数据 404
pd.concat([df1,df3],axis = 1)

   Python  Tensorflow  Keras  PyTorch  Paddle
A     107          50     46       24      45
B      95         128     87       41      64
C      11          21    146       40      98
D     126         117     21      138       0
E     113         138     63       17       6
F     132          36     81       40     102
G      60         143     92      114     134
H      36          83    110      138      82
I      37         139    136      102      10
J       3         144     89      133      56

#### 方式二插入

In [20]:
import numpy as np
import pandas as pd
df = pd.DataFrame(data = np.random.randint(0,151,size = (10,3)),
                  index = list('ABCDEFGHIJ'),
                  columns = ['Python','Keras','Tensorflow'])
df

   Python  Keras  Tensorflow
A      93     71         117
B     121     97         101
C     121     71          33
D     146     92          14
E      71      8          58
F     130    117          31
G      18    149           7
H     150    112          35
I     130    128         121
J     114    120          44

In [21]:
df.insert(loc = 2,column = 'Math',value = 150)
df

   Python  Keras  Math  Tensorflow
A      93     71   150         117
B     121     97   150         101
C     121     71   150          33
D     146     92   150          14
E      71      8   150          58
F     130    117   150          31
G      18    149   150           7
H     150    112   150          35
I     130    128   150         121
J     114    120   150          44

在Python后面插入一列，En

In [26]:
# 获取列索引
# 转换成list列表
# 调用index函数，获取列表中特定字段的位置
# + 1表示在后面
index = list(df.columns).index('Python') + 1

# value指定了随机数字
df.insert(loc = index,column='En',value = np.random.randint(0,151,size = 10 ))
df

   Python   En  Keras  Math  Tensorflow
A      93  108     71   150         117
B     121  102     97   150         101
C     121   99     71   150          33
D     146  110     92   150          14
E      71  130      8   150          58
F     130   58    117   150          31
G      18   46    149   150           7
H     150   96    112   150          35
I     130   66    128   150         121
J     114   29    120   150          44

向TensorFlow后面插入一列

In [28]:
# 获取列索引
# 转换成list列表
# 调用index函数，获取列表中特定字段的位置
# + 1表示在后面
index = list(df.columns).index('Tensorflow') + 1

# value指定了随机数字
df.insert(loc = index,column='中文',value = np.random.randint(0,151,size = 10 ))
df

   Python   En  Keras  Math  Tensorflow   中文
A      93  108     71   150         117  137
B     121  102     97   150         101    8
C     121   99     71   150          33   88
D     146  110     92   150          14   69
E      71  130      8   150          58  113
F     130   58    117   150          31   71
G      18   46    149   150           7   88
H     150   96    112   150          35   79
I     130   66    128   150         121  133
J     114   29    120   150          44  132

#### join SQL数据库风格插入合并  
merge 合并

In [29]:
import pandas as pd
import numpy as np
# 表一中记录的是name和体重信息
df1 = pd.DataFrame(data = {'name':['softpo','Daniel','Brandon','Ella'],'weight':[70,55,75,65]})
# 表二中记录的是name和身高信息
df2 = pd.DataFrame(data = {'name':['softpo','Daniel','Brandon','Cindy'],'height':[172,170,170,166]})
df3 = pd.DataFrame(data = {'名字':['softpo','Daniel','Brandon','Cindy'],'height':[172,170,170,166]})

display(df1,df2,df3)

      name  weight
0   softpo      70
1   Daniel      55
2  Brandon      75
3     Ella      65

      name  height
0   softpo     172
1   Daniel     170
2  Brandon     170
3    Cindy     166

        名字  height
0   softpo     172
1   Daniel     170
2  Brandon     170
3    Cindy     166

df1、df2进行合并，df1表示体重、df2表示身高

In [30]:
pd.merge(df1,df2,) # 根据共同的属性，进行合并
# 共同的属性是name共同拥有的是：sotfpo、Daniel、Barandon

      name  weight  height
0   softpo      70     172
1   Daniel      55     170
2  Brandon      75     170

In [32]:
# 指定了合并时，根据哪一列进行合并
pd.merge(df1,df3,left_on = 'name',right_on = '名字')

      name  weight       名字  height
0   softpo      70   softpo     172
1   Daniel      55   Daniel     170
2  Brandon      75  Brandon     170

10名同学，计算每个人平均分，合并

In [33]:
# 创建10名学生的考试成绩
df4 = pd.DataFrame(data = np.random.randint(0,151,size = (10,3)),
                   index = list('ABCDEFHIJK'),
                   columns=['Python','Keras','Tensorflow'])

df4

   Python  Keras  Tensorflow
A      23     13         124
B     149    116          96
C      66     47         115
D      14    127          42
E      59     92          34
F      53    132         143
H       2     46          35
I      50     50         106
J     128    141          25
K     143    101          43

In [38]:
# 每个人的各科平均分，Series
s = df4.mean(axis = 1).round(1)

df5 = pd.DataFrame(s,columns=['平均值'])
df5

     平均值
A   53.3
B  120.3
C   76.0
D   61.0
E   61.7
F  109.3
H   27.7
I   68.7
J   98.0
K   95.7

In [40]:
# 根据某一列，进行合并,df4 和 df5没有共同的一列属性执行，相同
# 共同行索引
# df4 行索引 A ~ K
# df5 行索引 A~ K
pd.merge(df4,df5,left_index = True,right_index=True)

   Python  Keras  Tensorflow    平均值
A      23     13         124   53.3
B     149    116          96  120.3
C      66     47         115   76.0
D      14    127          42   61.0
E      59     92          34   61.7
F      53    132         143  109.3
H       2     46          35   27.7
I      50     50         106   68.7
J     128    141          25   98.0
K     143    101          43   95.7

In [41]:
pd.concat([df4,df5],axis = 1)

   Python  Keras  Tensorflow    平均值
A      23     13         124   53.3
B     149    116          96  120.3
C      66     47         115   76.0
D      14    127          42   61.0
E      59     92          34   61.7
F      53    132         143  109.3
H       2     46          35   27.7
I      50     50         106   68.7
J     128    141          25   98.0
K     143    101          43   95.7

In [42]:
df4.insert(loc = 3,column='平均值',value=df5)

In [43]:
df4

   Python  Keras  Tensorflow    平均值
A      23     13         124   53.3
B     149    116          96  120.3
C      66     47         115   76.0
D      14    127          42   61.0
E      59     92          34   61.7
F      53    132         143  109.3
H       2     46          35   27.7
I      50     50         106   68.7
J     128    141          25   98.0
K     143    101          43   95.7

### 数据清洗

重复数据

In [56]:
import numpy as np
import pandas as pd
df = pd.DataFrame(data = {'color':['red','blue','red','green','blue',None,'red',np.NaN],
                          'price':[10,20,10,15,20,0,np.NaN,None]}) # 数字，显示时候都是 NaN

df
# # 1、重复数据过滤
# df.duplicated() # 判断是否存在重复数据
# df.drop_duplicates() # 删除重复数据

   color  price
0    red   10.0
1   blue   20.0
2    red   10.0
3  green   15.0
4   blue   20.0
5   None    0.0
6    red    NaN
7    NaN    NaN

空数据过滤

In [48]:
df.isnull()

   color  price
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5   True  False
6  False   True

In [49]:
df.dropna()

   color  price
0    red   10.0
1   blue   20.0
2    red   10.0
3  green   15.0
4   blue   20.0

In [50]:
# 计算时，None和NaN没有区别
# None Python的数据类型
# NaN是NumPy的数据类型
# 都表示空数据
df.fillna(1024)

   color   price
0    red    10.0
1   blue    20.0
2    red    10.0
3  green    15.0
4   blue    20.0
5   1024     0.0
6    red  1024.0

指定行或者列进行删除

In [54]:
df

   color  price
0    red   10.0
1   blue   20.0
2    red   10.0
3  green   15.0
4   blue   20.0
5   None    0.0
6    red    NaN
7    NaN    NaN

In [61]:
# 3、指定行或者列过滤
# del df['color'] # 直接删除某列
# df

# ！！！ drop删除，返回值，原来的数据没有修改
# df.drop(labels = ['price'],axis = 1)# 删除指定列
# 没有修改原数据
df.drop(labels = [0,1,5],axis = 0) # 删除指定行

# inplace 替换：替换原来数据，修改原数据
df.drop(labels=[0,1,3,5],axis = 0,inplace=True)

In [62]:
df

  color  price
2   red   10.0
4  blue   20.0
6   red    NaN
7   NaN    NaN

异常值

In [63]:
df2 = pd.DataFrame(data = np.random.randn(10000,3)) # 正态分布数据
df2
# 3σ过滤异常值，σ即是标准差
# cond = (df2 > 3*df2.std()).any(axis = 1)
# index = df2[cond].index # 不满足条件的行索引
# df2.drop(labels=index,axis = 0) # 根据行索引，进行数据删除

             0         1         2
0    -0.553940  1.080525 -0.616817
1     0.904863 -0.637146  0.496495
2    -1.573603  0.483256  0.545565
3     0.124750  1.143951 -0.246016
4    -1.660617  0.146376  0.852684
...        ...       ...       ...
9995  0.380284  0.444078  0.934213
9996 -0.521767 -0.389399 -0.280015
9997  0.048999  0.065336 -0.661144
9998  0.293363  0.135999  1.268390
9999  0.049299  0.810243  1.270150

[10000 rows x 3 columns]

In [64]:
df2.mean()

0   -0.003418
1    0.006986
2    0.013094
dtype: float64

In [65]:
df2.std() # 标准差

0    0.997435
1    0.992910
2    1.002875
dtype: float64

$ > 3\sigma$ 异常值 $\sigma$ 表示标准差

In [71]:
# 比较运算
# 异常值少数
cond = df2.abs() > 3 * df2.std()
cond_0 = cond[0]
df2[cond_0]

             0         1         2
51   -3.227603 -0.994305 -0.436798
182   3.169857 -1.046485 -0.882284
371   3.296944  1.750292 -0.061005
890  -3.738424 -0.109601  0.114904
1067  3.137888  1.586613 -1.703085
1117  3.100262 -0.827834  0.839845
1616  3.051328 -0.859562 -0.623189
2072  3.210330 -1.130218 -1.477796
2513 -3.470249  0.834769  0.629857
3366  3.563874 -1.303169  0.151279
3637 -3.066450 -1.560870  0.546565
3884  3.454378  0.021034  0.151647
4037  3.174208 -0.348387 -2.065975
4427  4.225908 -0.612485  0.006884
4524  3.226083 -0.288241  1.505534
5779 -3.095656 -0.759911 -0.919812
5860  3.146736 -0.203038  0.440817
5917  3.113297 -0.512853 -0.102172
5947 -3.251975 -0.584629  2.342695
6552 -3.153363  1.126645  0.251549
7031  3.015984 -0.287785 -1.103042
7057  3.419546  0.153450 -0.094930
7100 -3.123308 -1.246478  1.625474
7596  3.139675 -0.143954 -0.051950
7832 -3.220585 -0.001508 -0.384986
8330  3.261156 -1.307675  0.252106
8689 -3.214607 -0.911534  0.017943
8959  3.105597 -0.914359  0.692061
9152 -3.185909  1.174037 -0.739034
9797  3.393021  0.790911 -1.218313

获取每一列的异常

In [72]:
cond = df2.abs() > 3 * df2.std()
cond_0 = cond[0] # 默认[] 只能取列索引
cond_1 = cond[1]
cond_2 = cond[2]

# 逻辑或运算，只要有一个满足，返回True
cond_ = cond_0 | cond_1 | cond_2

df2[cond_]

             0         1         2
51   -3.227603 -0.994305 -0.436798
182   3.169857 -1.046485 -0.882284
212  -0.164465  3.441307  0.340619
367  -0.882414  3.216171  0.538614
371   3.296944  1.750292 -0.061005
...        ...       ...       ...
9133  0.323367  0.080589 -3.615038
9152 -3.185909  1.174037 -0.739034
9661  0.265500 -3.205523  1.031585
9797  3.393021  0.790911 -1.218313
9972  0.559938  3.106434  1.784344

[79 rows x 3 columns]

In [77]:
cond = df2.abs() > 3 * df2.std() # 计算异常值

# axis = 1计算每一行：只要一行中有一个TRUE，返回True
# True，表示异常值
cond_ = cond.any(axis = 1) # 只要有一个为真,返回True

df2[cond_]

             0         1         2
51   -3.227603 -0.994305 -0.436798
182   3.169857 -1.046485 -0.882284
212  -0.164465  3.441307  0.340619
367  -0.882414  3.216171  0.538614
371   3.296944  1.750292 -0.061005
...        ...       ...       ...
9133  0.323367  0.080589 -3.615038
9152 -3.185909  1.174037 -0.739034
9661  0.265500 -3.205523  1.031585
9797  3.393021  0.790911 -1.218313
9972  0.559938  3.106434  1.784344

[79 rows x 3 columns]

### 数据转换

#### 轴和元素替换

In [78]:
import numpy as np
import pandas as pd
df = pd.DataFrame(data = np.random.randint(0,10,size = (10,3)),
                  index = list('ABCDEFHIJK'),
                  columns=['Python','Tensorflow','Keras'])
df.iloc[4,2] = None # 空数据
df

   Python  Tensorflow  Keras
A       8           0    8.0
B       0           6    1.0
C       1           2    7.0
D       2           7    4.0
E       5           1    NaN
F       1           7    5.0
H       0           5    1.0
I       5           4    4.0
J       5           7    5.0
K       8           8    8.0

In [79]:
#1、重命名轴索引
df.rename(index = {'A':'AA','B':'BB'},columns = {'Python':'人工智能'})

    人工智能  Tensorflow  Keras
AA     8           0    8.0
BB     0           6    1.0
C      1           2    7.0
D      2           7    4.0
E      5           1    NaN
F      1           7    5.0
H      0           5    1.0
I      5           4    4.0
J      5           7    5.0
K      8           8    8.0

In [85]:
# 2、替换值
# df.replace(5,1024) #将3替换为1024
# df.replace([0,7],2048) # 将0和7替换为2048
# df.replace({0:512,np.nan:998}) # 根据字典键值对进行替换
df.replace({'Python':1},-1024) # 将Python这一列中等于2的，替换为-1024

   Python  Tensorflow  Keras
A       8           0    8.0
B       0           6    1.0
C   -1024           2    7.0
D       2           7    4.0
E       5           1    NaN
F   -1024           7    5.0
H       0           5    1.0
I       5           4    4.0
J       5           7    5.0
K       8           8    8.0

#### map Series

In [86]:
import numpy as np
import pandas as pd
df = pd.DataFrame(data = np.random.randint(0,10,size = (10,3)),
                  index = list('ABCDEFHIJK'),
                  columns=['Python','Tensorflow','Keras'])
df.iloc[4,2] = None # 空数据

df

   Python  Tensorflow  Keras
A       1           0    9.0
B       5           0    4.0
C       1           0    7.0
D       5           3    5.0
E       3           4    NaN
F       6           7    0.0
H       3           2    9.0
I       1           5    9.0
J       1           5    5.0
K       0           0    4.0

In [87]:
# 1、map批量元素改变，Series专有
df['Keras'].map({9:'Hello',5:'World',np.NaN:'AI'}) # 字典映射

A    Hello
B      NaN
C      NaN
D    World
E       AI
F      NaN
H    Hello
I    Hello
J    World
K      NaN
Name: Keras, dtype: object

In [97]:
def convert(x):
    if x == 9:
        return 'Hello'
    elif x == 5:
        return 'World'
    elif x is np.NaN:
        return 'AI'
    else:
        return x
df['Keras'].map(convert)

A    Hello
B      4.0
C      7.0
D    World
E      NaN
F      0.0
H    Hello
I    Hello
J    World
K      4.0
Name: Keras, dtype: object

隐式函数

In [99]:
df['Python'].map(lambda x:100 if x >=5 else -100) # 隐式函数映射

A   -100
B    100
C   -100
D    100
E   -100
F    100
H   -100
I   -100
J   -100
K   -100
Name: Python, dtype: int64

#### apply元素改变。既支持 Series，也支持 DataFrame

In [109]:
import numpy as np

import pandas as pd

df = pd.DataFrame(np.random.randint(0,100,size = (30,3)),columns=['Python','Math','En'])
df

    Python  Math  En
0       59    82  98
1       88    32  55
2       85    27  20
3        8    56  44
4       19    29  35
5       18    43  51
6       92    34  76
7       48    81  53
8       98    28   2
9       14    93   4
10      40    41  64
11      97    81  40
12      52    33   9
13      29    69  99
14      51    74  99
15      99    75  20
16      42    53  39
17      20    80  56
18      67    39   2
19      50    31  57
20       9    84  80
21      43    53  22
22      12    28  30
23      36     5  58
24      58     6  39
25       3    23   5
26      64    62  66
27      99    43  68
28      20    58  83
29      30    96   2

对一列进行了转换，并且，进行了插入

In [107]:
def convert(x):
    if x < 60:
        return '不及格' # 条件满足，直接执行下一个
    elif x < 80: # 是否小于80，条件满足，60 <= x < 80
        return '中等'
    else:
        return '优秀'
# 根据规则，进行数据转换
result = df['Python'].apply(convert)

index = list(df.columns).index('Python') + 1

# 插入
df.insert(loc = index,column = 'Python' + '等级',value = result)

df

    Python Python等级  Math  En
0       21      不及格     1   8
1       82       优秀    34  70
2       54      不及格    91  47
3        7      不及格     9   6
4       33      不及格    62  26
5       98       优秀     7  56
6       32      不及格    13  18
7       94       优秀    83  26
8       92       优秀    45  16
9        6      不及格    57  63
10      25      不及格    72  97
11      75       中等    17  97
12       0      不及格    28  17
13      42      不及格    59  89
14      80       优秀    28  20
15      59      不及格    67  55
16      62       中等    74  97
17      23      不及格    88   8
18      59      不及格    67  94
19       1      不及格    52   5
20      24      不及格    11  53
21      31      不及格    62  25
22      99       优秀    12   6
23      17      不及格    10  10
24      45      不及格    33  37
25      51      不及格    80  19
26      66       中等    54  14
27      83       优秀    91  95
28      83       优秀    38  90
29      31      不及格    70  38

多行转换

In [110]:
def convert(x):
    if x < 60:
        return '不及格' # 条件满足，直接执行下一个
    elif x < 80: # 是否小于80，条件满足，60 <= x < 80
        return '中等'
    else:
        return '优秀'

for col in ['Python','Math','En']: # 已经字符换
    # 根据规则，进行数据转换
    result = df[col].apply(convert)

    # 插入位置的索引，使用变量表示
    index = list(df.columns).index(col) + 1

    # 插入
    df.insert(loc = index,column = col + '等级',value = result)

df

    Python Python等级  Math Math等级  En En等级
0       59      不及格    82     优秀  98   优秀
1       88       优秀    32    不及格  55  不及格
2       85       优秀    27    不及格  20  不及格
3        8      不及格    56    不及格  44  不及格
4       19      不及格    29    不及格  35  不及格
5       18      不及格    43    不及格  51  不及格
6       92       优秀    34    不及格  76   中等
7       48      不及格    81     优秀  53  不及格
8       98       优秀    28    不及格   2  不及格
9       14      不及格    93     优秀   4  不及格
10      40      不及格    41    不及格  64   中等
11      97       优秀    81     优秀  40  不及格
12      52      不及格    33    不及格   9  不及格
13      29      不及格    69     中等  99   优秀
14      51      不及格    74     中等  99   优秀
15      99       优秀    75     中等  20  不及格
16      42      不及格    53    不及格  39  不及格
17      20      不及格    80     优秀  56  不及格
18      67       中等    39    不及格   2  不及格
19      50      不及格    31    不及格  57  不及格
20       9      不及格    84     优秀  80   优秀
21      43      不及格    53    不及格  22  不及格
22      12      不及格    28    不及格  30  不及格
23      36      不及格     5    不及格  58  不及格
24      58      不及格     6    不及格  39  不及格
25       3      不及格    23    不及格   5  不及格
26      64       中等    62     中等  66   中等
27      99       优秀    43    不及格  68   中等
28      20      不及格    58    不及格  83   优秀
29      30      不及格    96     优秀   2  不及格