### 作业1

In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(0,151,size = (1000,4)),columns=['语文','数学','英语','Python'])

# 查看前5个
display(df.head())

# 保存到csv文件中
df.to_csv('./score.csv',index=False)

# 保存到excel文件中
df.to_excel('./score.xlsx',index=False)

    语文  数学   英语  Python
0   21  71  128      25
1   17  75   31     106
2   24  67   62     122
3  102  44  100      94
4   92  39   30     144

### 作业二

In [37]:
import numpy as np
import pandas as pd

# 根据花式索引创建学位
edu = np.array(['无','本科','硕士','博士'])
index = np.random.randint(0,4,size = 26)
edu = edu[index]

df = pd.DataFrame({'身高':np.random.randint(160,186,size = 26),
                   '体重':np.random.randint(50,90,size = 26),
                   '学位':edu},index = list('qwertyuiopasdfghjklzxcvbnm'))

# 对行索引排序
df.sort_index()

    身高  体重  学位
a  180  56   无
b  172  65  博士
c  165  51  本科
d  162  89  本科
e  180  82  本科
f  160  76  博士
g  166  86  博士
h  171  69  本科
i  161  72  硕士
j  177  87  博士
k  177  71  本科
l  172  82  博士
m  185  78   无
n  165  75  本科
o  164  84  本科
p  183  56  本科
q  180  85  本科
r  181  86  硕士
s  161  72  博士
t  172  74  博士
u  170  60  本科
v  171  82   无
w  168  88   无
x  164  86  硕士
y  175  63  硕士
z  184  74  博士

### 作业三

In [42]:
import numpy as np
import pandas as pd

# 根据花式索引创建学位
edu = np.array(['无','本科','硕士','博士'])
index = np.random.randint(0,4,size = 26)
edu = edu[index]

df = pd.DataFrame({'身高':np.random.randint(160,186,size = 26),
                   '体重':np.random.randint(50,90,size = 26),
                   '学位':edu},index = list('qwertyuiopasdfghjklzxcvbnm'))

# 问题一
cond = df.index > 't'
display(df[cond])

# 问题二
cond1 = df['学位'] == '博士'
cond2 = df['身高'] > 170
cond3 = df['体重'] < 80

cond = cond1 & (cond2 | cond3)
df[cond]

    身高  体重  学位
w  176  52  本科
y  161  68  博士
u  173  51   无
z  181  60  博士
x  178  65  博士
v  171  64   无

    身高  体重  学位
e  171  72  博士
t  171  67  博士
y  161  68  博士
g  181  59  博士
k  174  69  博士
z  181  60  博士
x  178  65  博士

### 作业4

In [45]:
import numpy as np
import pandas as pd

# 根据花式索引创建学位
edu = np.array(['无','本科','硕士','博士'])
index = np.random.randint(0,4,size = 26)
edu = edu[index]

df = pd.DataFrame({'身高':np.random.randint(160,186,size = 26),
                   '体重':np.random.randint(50,90,size = 26),
                   '学位':edu},index = list('qwertyuiopasdfghjklzxcvbnm'))

# 问题一
# 先找到本科生
cond = df['学位'] == '本科'
print('本科生减肥前：')
display(df[cond])
print('本科生减肥后：')
df.loc[cond,'体重'] -= 10
display(df[cond])

# 问题二
# 先找到博士生
cond = df['学位'] == '博士'
print('博士生减肥前：')
display(df[cond])
print('博士生减肥后：')
df.loc[cond,'体重'] -= np.random.randint(5,11,size = cond.sum())
display(df[cond])

本科生减肥前：

    身高  体重  学位
w  183  55  本科
e  162  55  本科
r  163  83  本科
t  171  52  本科
y  161  60  本科
o  171  81  本科
s  168  74  本科
d  182  65  本科
h  183  82  本科
l  173  84  本科
x  173  86  本科

本科生减肥后：

    身高  体重  学位
w  183  45  本科
e  162  45  本科
r  163  73  本科
t  171  42  本科
y  161  50  本科
o  171  71  本科
s  168  64  本科
d  182  55  本科
h  183  72  本科
l  173  74  本科
x  173  76  本科

博士生减肥前：

    身高  体重  学位
u  184  55  博士
a  170  89  博士
g  183  88  博士
n  162  87  博士

博士生减肥后：

    身高  体重  学位
u  184  49  博士
a  170  84  博士
g  183  81  博士
n  162  79  博士

### 高级作业