============================================================
Week2 机器学习综合练习
============================================================
============================================================
任务1：数据处理
============================================================

原始数据：
       Name      City  Age  Salary  HousePrice
0      Mike     Miami   42  5000.0        1000
1     Jerry  New York   32  6000.0        1300
2     Bryan   Orlando   18     NaN         700
3  Patricia     Miami   45  5500.0        1100
4    Elodie   Phoenix   35  5800.0         850
5      Remy   Chicago   72  7000.0        1500
6      John  New York   48  6500.0        1200
7    Marine     Miami   45  5200.0        1050
8    Julien      None   52  6800.0        1400
9      Fred   Orlando  200  3000.0        -100

数据信息：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   City        9 non-null      object
 2   Age         10 non-null     int64
 3   Salary      9 non-null      float64
 4   HousePrice  10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 532.0+ bytes
None

缺失值统计：
Name          0
City          1
Age           0
Salary        1
HousePrice    0
dtype: int64

列 'Salary': 使用均值 5644.44 填充缺失值
列 'City': 使用众数 'Miami' 填充缺失值

开始异常值检测和处理...

--- 分析列: Age ---
  IQR方法检测到异常值: 1 个
  正常值范围: [15.38, 72.38]
  Z-score方法检测到异常值: 0 个
  异常值示例:
   Age
9  200
  已使用IQR边界值替换异常值
  应用业务规则: Age限制在18-100之间，修正了 0 个值

--- 分析列: Salary ---
  IQR方法检测到异常值: 1 个
  正常值范围: [3625.00, 8025.00]
  Z-score方法检测到异常值: 0 个
  异常值示例:
   Salary
9  3000.0
  已使用IQR边界值替换异常值

--- 分析列: HousePrice ---
  IQR方法检测到异常值: 1 个
  正常值范围: [306.25, 1856.25]
  Z-score方法检测到异常值: 0 个
  异常值示例:
   HousePrice
9        -100
  已使用IQR边界值替换异常值
  应用业务规则: HousePrice限制在0-10000之间，修正了 0 个值

异常值处理总结:
           列名  IQR异常值数量     IQR下界     IQR上界  Z-score异常值数量
0         Age         1    15.375    72.375             0
1      Salary         1  3625.000  8025.000             0
2  HousePrice         1   306.250  1856.250             0

处理完异常值之后的数据：       Name      City     Age       Salary  HousePrice
0      Mike     Miami  42.000  5000.000000     1000.00
1     Jerry  New York  32.000  6000.000000     1300.00
2     Bryan   Orlando  18.000  5644.444444      700.00
3  Patricia     Miami  45.000  5500.000000     1100.00
4    Elodie   Phoenix  35.000  5800.000000      850.00
5      Remy   Chicago  72.000  7000.000000     1500.00
6      John  New York  48.000  6500.000000     1200.00
7    Marine     Miami  45.000  5200.000000     1050.00
8    Julien     Miami  52.000  6800.000000     1400.00
9      Fred   Orlando  72.375  3625.000000      306.25


城市编码映射：{'Chicago': np.int64(0), 'Miami': np.int64(1), 'New York': np.int64(2), 'Orlando': np.int64(3), 'Phoenix': np.int64(4)}

数值特征标准化完成：['Age', 'Salary', 'HousePrice']

处理后的数据：
       Name      City       Age    Salary  HousePrice  City_encoded
0      Mike     Miami -0.260099 -0.756697   -0.120864             1
1     Jerry  New York -0.888738  0.313680    0.771667             2
2     Bryan   Orlando -1.768832 -0.066899   -1.013395             3
3  Patricia     Miami -0.071508 -0.221509    0.176647             1
4    Elodie   Phoenix -0.700146  0.099605   -0.567129             4
5      Remy   Chicago  1.625816  1.384057    1.366688             0
6      John  New York  0.117084  0.848869    0.474157             2
7    Marine     Miami -0.071508 -0.542622    0.027892             1
8    Julien     Miami  0.368539  1.169982    1.069178             1
9      Fred   Orlando  1.649390 -2.228466   -2.184842             3

处理后的数据信息：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          10 non-null     object
 1   City          10 non-null     object
 2   Age           10 non-null     float64
 3   Salary        10 non-null     float64
 4   HousePrice    10 non-null     float64
 5   City_encoded  10 non-null     int64
dtypes: float64(3), int64(1), object(2)
memory usage: 612.0+ bytes
None

============================================================
任务2：分类任务 - 判断是否为篮球运动员
============================================================

训练数据：
       City  Age  IsBasketballPlayer
0     Miami   42                   1
1  New York   32                   0
2   Orlando   18                   0
3     Miami   45                   1
4   Phoenix   35                   0
5   Chicago   72                   1
6  New York   48                   1

测试数据：
      City  Age  IsBasketballPlayer
0    Miami   45                   1
1    Miami   52                   1
2  Orlando   20                   0
3   Boston   34                   0
4  Phoenix   90                   0

ValueError: y contains previously unseen labels: 'Boston'